<div class="is-align-content-center">
  <a class="has-text-link" (click)="showGames()">
    <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon>
    Back to game list
  </a>
  <div class="columns pt-3">
    <div class="column">
      <span class="has-text-weight-semibold">
        {{ gameSummary.Name }}
      </span>
      <span class="has-text-warning is-size-6" *ngIf="gameSummary.YourMove">Your Move</span>
    </div>
    <div class="column">
      <span>You are using
        <fa-icon [icon]="gameSummary.GameStarter ? faCircle : faXmark"></fa-icon>
      </span>
    </div>
    <div class="column">
      <p><strong>{{ gameSummary.NumMoves }}</strong> moves made</p><br/>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <p>Playing against <strong *ngFor="let userName of gameSummary.Usernames">{{ userName }}</strong></p>
    </div>
    <div class="column">
      <p *ngIf="winMessage">
        <strong class="p-1 has-text-bold"
                [class]="youWin ? 'has-text-primary-25 has-background-success-light' : 'has-text-warning-10 has-background-warning-light'">
          {{ winMessage }}</strong>
      </p>
    </div>
  </div>
  <div class="has-text-centered">
    <div class="columns is-vcentered" *ngFor="let c of board_cols">
      <div class="column" *ngFor="let r of board_rows">
        <app-mark-button [board]="board[setBoard(c, r)]" [completed]="winMessage !== ''"
                         (moved)="move($event)"></app-mark-button>
      </div>
    </div>
  </div>
</div>

<div class="notification is-warning mt-4" *ngIf="showAlertMessage">{{ notYourMoveMessage }}</div>
